## Test result using binpackmps.yaml  
CUDA_MPS_ACTIVE_THREAD_PERCENTAGE对GPU Memory有明显的限制作用  

![Result](https://ws1.sinaimg.cn/large/006tNc79ly1g4s7pba5rxj30bk04s7bs.jpg)  

##### different result when fixing CUDA_MPS_ACTIVE_THREAD_PERCENTAGE
![Result](https://ws4.sinaimg.cn/large/006tNc79ly1g4s7qow9zzj315c09o75e.jpg)