#Result of binpackmps2.yaml
![Result](https://ws2.sinaimg.cn/large/006tNc79ly1g3xgthjmsdj30uo06ojsv.jpg)
##server logs
![Result](https://ws4.sinaimg.cn/large/006tNc79ly1g3y6j29b7zj30v80hswma.jpg)
###server logs 
![Result](https://ws1.sinaimg.cn/large/006tNc79ly1g3y7hb6gvtj30uw0hmdnj.jpg)