#Result of binpackmps2.yaml
![Result](https://ws2.sinaimg.cn/large/006tNc79ly1g3xgthjmsdj30uo06ojsv.jpg)  
并不能控制GPU Memory Usage
##server logs
![Result](https://ws4.sinaimg.cn/large/006tNc79ly1g3y6j29b7zj30v80hswma.jpg)  
启动时设置的Percentage=100

###server logs 
![Result](https://ws1.sinaimg.cn/large/006tNc79ly1g3y7hb6gvtj30uw0hmdnj.jpg)  
启动时设置的Percentage=30 
对结果没有影响  
![Result](https://ws4.sinaimg.cn/large/006tNc79ly1g46a0rhvnoj30um0dgtc0.jpg)
动态增长情况 percentage=100  
![Result](https://ws4.sinaimg.cn/large/006tNc79ly1g46a2r7ljaj30us0coad4.jpg)
Percentage=50